{% extends 'main.html' %}
{% load static %}

{% block content %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="{% url 'choose' %}" class="logo d-flex align-items-center w-auto">
                <span class="d-none d-lg-block">{{ request.user.first_name }} {{ request.user.last_name }}</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Spremenite geslo</h5>
                  <p class="text-center small">Zamenjajte geslo za dostop do vasega profila</p>
                </div>

                <form class="row g-3 needs-validation" method="post" novalidate>
                  {% csrf_token %}
                  <div class="col-12">
                    <label for="newPassword" class="form-label">Novo geslo</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-lock"></i></span>
                      <input type="password" name="newPassword" class="form-control" id="newPassword" required>
                      <div class="invalid-feedback">Please enter your username.</div>
                    </div>
                  </div>

                  <div class="col-6">
                    <a class="btn btn-outline-primary w-100 col-6" type="" href="{% url 'choose' %}"><i
                        class="bi bi-box-arrow-left"></i> Pojdi nazaj</a>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-danger w-100 col-6" type="submit"><i class="bi bi-save"></i>
                      Spremeni</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>

  {% if messages %}
  <ul class="messages px-0 pt-2" style="position: absolute; bottom: 0; right:10px;">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }} alert alert-success px-5" {% endif %} role="alert"
      style="list-style: none;">
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</main><!-- End #main -->

{% endblock %}